language: node_js

node_js:
  - '5'
  - '4'

# Use Ubuntu Trusty 14.04
sudo: required
dist: trusty

# Use Chrome as default browser
before_install:  
 - export CHROME_BIN=/usr/bin/google-chrome
 - export DISPLAY=:99.0
 - sh -e /etc/init.d/xvfb start

# Deactive fetch submodules by Travis. (e.g. before_script)
git:
  submodules: false

# Enable cache for all node_modules + needed globals packages
cache:
  timeout: 600
  directories:
    - node_modules
    - fountain-generator/node_modules
    - generator-fountain-angular1/node_modules
    - generator-fountain-angular2/node_modules
    - generator-fountain-browsersync/node_modules
    - generator-fountain-eslint/node_modules
    - generator-fountain-gulp/node_modules
    - generator-fountain-inject/node_modules
    - generator-fountain-karma/node_modules
    - generator-fountain-react/node_modules
    - generator-fountain-systemjs/node_modules
    - generator-fountain-tslint/node_modules
    - generator-fountain-webapp/node_modules
    - generator-fountain-webpack/node_modules
    - test/deps
    - $(npm config get prefix)/bin/typings
    - $(npm config get prefix)/bin/bower
    - $(npm config get prefix)/bin/jspm

# Configure Sauce Labs fot e2e tests
addons:
   sauce_connect:
     username: "Swiip"
     access_key:
       secure: "xOc4vSbmwnufZY8MY/4pCzZX+6smPvgG6wHptArP1KIeBMpk6MG+LL8a5w23rVpNJzMO1iIRFDDZ5sAkrbvsXOKxZBkF123mG0JPvpYNhCQHxBgnqLvFTXeWoTb1G1dhhy1NklO4Y58ndLroiQ/ZkyPTFLiMv6uFU8GY7WeP3dw6VTCkXToGUgDNiW8bitGaiadVhVa3XzK/lNs9o6dAa6kl+bZ/UNCtrFFUmPFkcsY+99f37RzwRuzYWXEvguPY2N5zmuiohFL/XSlu73LeuF5UWxGHUtKKHiyt4VmNZCp2b3oL8EqtyBKFvAZJI5m9jfMgZ5SWgo+wBGZ/5N6nvDm3QsKoSQ6uJ0v0mEweysgh2pQ7abL5fvzF8mrDBZVoPyp/cOzTiUbLGRg02NsTxLtlKbG1rB8sO8qsyUcypFaEPzgCGIUlA/ibtkAOW7cVvsHiG5N3MFDOSHrwFFNEpyhIHdMj3VTU9tyPejWgIi25i6oUsscnAx/osrn2CgI5OieZlYn9M+HqEghMo/ikCNBQAwVr8c/VF6Z/lau1IPHOJg9//aMQwwrrnrgzzyH5vXXqvN9Yc/rxPi9ZPRGg0ImMTM4gNcZr/nVQRgqQ3nB/oqkEqZRmAK8HenZT8S6B1UCUhYx4zkLVsWXAuPVkPCL1K7jsYQHR3R7ygAYcgT4="

# Prepare build:
#   * Backup node_modules in ./temp/ provided by caches Travis
#   * Remove all fountain directories
#   * Replace protocol for git modules
#   * Fetch git modules
#   * Restore node_modules
#   * Generate all symlink across generators
#   * Install global packages needed
before_script:
  - node test/cache/backup-node_modules.js
  - rm -rf fountain-generator/ generator-fountain-*/
  - sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
  - git submodule update --init --recursive
  - node test/cache/restore-node_modules.js
  - npm run linkAll
  - npm install -g typings bower jspm

# Run test
script:
  - npm test

# Avoid failed caching by Travis
before_cache:
  - npm run unlinkAll
